SUPABASE_URL=https://arcvkcnnbersmzweatpu.supabase.co
NEXT_PUBLIC_SUPABASE_URL=https://arcvkcnnbersmzweatpu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFyY3ZrY25uYmVyc216d2VhdHB1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzY3MTI0MCwiZXhwIjoyMDg5MjQ3MjQwfQ.et84veJGGi2ILVuqlwW98-0PHEksmithA6_NC1t7ygs
SUPABASE_SERVICE_ROLE=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFyY3ZrY25uYmVyc216d2VhdHB1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzY3MTI0MCwiZXhwIjoyMDg5MjQ3MjQwfQ.et84veJGGi2ILVuqlwW98-0PHEksmithA6_NC1t7ygs